{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>WikiHerois</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="row justify-content-center">
        <div class="col-md-6" align="center">
          <h1>WikiHerois</h1>
          <form method='GET' action=''>
            <input type='text' name='pesquisa' placeholder='Pesquisar personagens' value='{{ request.GET.pesquisa }}'/>
            <input type='submit' value='Pesquisar'/>
        </div>
    </div>
          {% block content %}
          {% endblock %}
  </body>
</html>
