{% load static %}<!DOCTYPE html>
<head>
  <title>WikiHerois - Favoritos</title>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
  <style>
    html, body, pre, code, kbd, samp {
        font-family: 'Press Start 2P', cursive;
    }
  </style>
</head>
<body>
  <div class="row">
      <div class="col-md-6">
        <h1>Favoritos</h1>
        {% for pre in posts %}
        {{ pre.name }} <br>
          <img src="{{ pre.image.url }}" width=500px, height=500px> <br>
          {{ pre.description }} <br>

          {% if pre.is_favorite %}
            <p><a href="/add_favorites/{{pre.id}}">Remover dos Favoritos</a></p>
          {% endif %}

        {% endfor %}
    <p><a href="{% url 'home' %}">Voltar ao Inicio</a></p>
</body>
