{% extends 'base_form.html' %}
{% load static %}
{% block title %}WikiHerois - Adicionar Personagem{% endblock %}
{% block content %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><label for="id_name">Nome:</label> <br>
      <input type="text" name="name" required id="id_name" maxlength="30"
        class="nes-input" style="width: 500px;" /></p>
    <p><label for="id_description">Descrição:</label> <br>
      <textarea name="description" id="id_description" required rows="10"
        cols="40" maxlength="300" class="nes-textarea" style="width: 600px;"></textarea></p>
    <p><label for="id_image">Imagem:</label> <br>
      <input type="file" name="image" required id="id_image"
        class="nes-input" style="width: 750px;" /></p>
    <div>
      <a href="/" class="nes-btn is-error">Voltar ao Inicio </a>
      <button type="submit" class="nes-btn is-success">Adicionar</button>
    </div>
  </form>

{% endblock %}
