{% extends 'base_form.html' %}
{% load static %}
{% block title %}WikiHerois - Editar Personagem{% endblock %}
{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    Nome <br>
    {{ form.name }} <br>
    Descrição <br>
    {{ form.description }} <br>
    Imagem <br>
    <div class="nes-input" style="width: 750px;">{{ form.image }}</div> <br>
    <a href="/" class="nes-btn is-error">Voltar ao Inicio </a>
    <button type="submit" class="nes-btn is-success">Editar</button>
  </form>

{% endblock %}
